/* oswald-regular - latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/oswald-v49-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v49-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* oswald-500 - latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/oswald-v49-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v49-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* oswald-600 - latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/oswald-v49-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v49-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* oswald-700 - latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/oswald-v49-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oswald-v49-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jetbrains-mono-regular - latin */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/jetbrains-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/jetbrains-mono-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jetbrains-mono-500 - latin */
  @font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/jetbrains-mono-v13-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/jetbrains-mono-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /*For padding inside block*/
  html{
    box-sizing: border-box;
  }
  /*inheritance*/
  *,*::before, *::after{ 
    box-sizing: inherit;
  }
/* .wrapper{
    max-width: 40%;
} */
body{
    width: 1680px;
    height: 1080px;
    background-color: #201D1D;
}
.ch{
  width: 100px;
  height: 100px;
}
.header{
    margin-top: 3%;
    height: 203px;
    width: 956px;
    margin-left: 111px;;
    float: left;
}
.header__logo{
  width: 589px;
  height: 108px;
  margin-top: 78px;
  margin-left: auto;
  float: left;
}
.header__crown{
  height: 82px;
  width: 50px;
  margin-right: 54px;
  margin-top: 68px;
  margin-left: auto;
  float: left;
}
.header__planet{
    width: 203px;
    height: 203px;
    margin-left: 60px;
    float: left;
}
.middle__earth{
  position: absolute;
  width: 294px;
  height: 40px;
  left: 111px;
  top: 270px;
  
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 49px;
  
  color: #FFFFFF;
}
.container__middle{
  top: 387px;
  position: absolute; 
  width: 1254;
  height: 199;
  left: 111px;
  /* line-height: 49px; */
  color: #FFFFFF;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  z-index: 2;
  
}

.container__middle .bash{

  color: #f6a1a1;
 
}
.container__middle .bash .beg{
  float: left;
  padding-top: 3px; 
}
.container__middle .bash .ivan{
  padding-left: 12px;
  font-weight: 500;
  font-size: 30px;
  float: left;
  -webkit-text-stroke: 0.37px black;
  
}
.container__middle .bash .end{
  padding-left: 12px;
  float: left; 
  padding-top: 3px; 
}

.rectangle{
  position:absolute;
  /* width: 230px;
  height: 49px; */
  top: 377px;
  left: 348px;
  z-index: 1; 

}
.container__middle .python{
  padding-top: 70px;
  color: #98F4D9;
}
.container__middle .gcc{
  padding-top: 40px;
  color: #FAAFE0;
}
.cath{
  position: absolute;
  /* width: 725.9px;
  height: 363.48px; */
  left: 358.15px;
  top: 726.74px;
  z-index: 4;
}
.inscriptions{
  font-family: 'Oswald';
  font-style: normal;
}
.inscriptions .ifconfig{
  position: absolute;
  width: 295.42px;
  height: 74.91px;
  left: 956.12px;
  top: 652px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 27.0141px;
  line-height: 112.7%;

  text-align: center;
  letter-spacing: 0.055em;

  color: #FFFFFF;

  opacity: 0.25;
  transform: rotate(27.96deg);
}
.inscriptions .null{
  position: absolute;
  width: 295.42px;
  height: 74.91px;
  left: 60px;
  top: 694.8px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 31.0161px;
  line-height: 112.7%;
  text-align: center;
  letter-spacing: 0.055em;

  color: #FFFFFF;

  opacity: 0.19;
  transform: rotate(-2.42deg);
}
.inscriptions .sed{
  position: absolute;
  width: 295.42px;
  height: 74.91px;
  left: 501px;
  top: 722.25px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 35.0182px;
  line-height: 112.7%;
  text-align: center;
  letter-spacing: 0.055em;
  color: #FFFFFF;
  opacity: 0.39;
  transform: rotate(-16.98deg);
}
.inscriptions .regex{
  position: absolute;
  width: 295.42px;
  height: 74.91px;
  left: 119.11px;
  top: 791.38px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30.0156px;
  line-height: 112.7%;
  /* or 34px */

  text-align: center;
  letter-spacing: 0.055em;

  color: #FFFFFF;

  opacity: 0.29;
  transform: rotate(14.76deg);
}
.block__green{
  position: absolute;
  left: 299.12px;
  top: 1003.49px;
  z-index: 3;
}
.block__or{
  position: absolute;
  left: 905.44px;
  top: 964.47px;
  z-index: 3;
}
.block__pink{
  position: absolute;
  left: 568.26px;
  top: 908.44px;
  z-index: 3;
}
.brok__line{
  position: absolute;
  left: 1243px;
  /* border: none;
  border-top: 9px dotted white;
  color: #fff;
  background-color: #201D1D;
  height: 0px;
  width: 50%; */
  
}
.ver__line{
  position: absolute;
  width: 1080.56px;
  /* width:100%; */
  height: 0px;
  /* left: 1243px; */
  /* top: -100px; */
  top:540px;
  border: 8.00417px dashed #FFFFFF;
  left: 754px;
  transform: rotate(90deg);
  z-index: 6;
  }
.hor__line{
  position: absolute;
  width: 380px;
  height: 0px;
  left: 1288px;
  top: 348px;

  border: 7.00365px dashed #FFFFFF;
  z-index: 7;
}
.myphoto{
  position: absolute;
  /* width: 170.09px;
  height: 264.14px; */
  left: 1410px;
  top: 34px;
}
.questions{
  position: absolute;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 128px;
  line-height: 112.7%;
  /* transform: rotate(-14.21deg);  */
  
}
.questions .first__q{
  /* or 144px */
  /* position: absolute; */
  position: absolute; 
  left: 1585.12px;
  top: 22.46px;
  transform: rotate(-14.21deg); 
}
.questions .second__q{
  position: absolute; 
  left: 1328.24px;
  top: 169px;
  transform: rotate(-14.21deg);  
}
.about__myself{
  position: absolute;
  left: 1372px;
  top: 479px;
}
.my__stack{
  left: 1355.06px;
  top: 673.42px;
}
